<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<h1> My Jupyter Notebook on IBM Watson Studio </h1>

<b> Leon Rei√ü </b>

<em> I'm interested about Data Science, because Data can tell you the total truth about so many things in life. It can help us to make the world a better place. </em>

<h3> In this code you can see how a surname is added to the first names </h3>

In [1]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Max")
my_function("Leon")
my_function("Harvey")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td><ul>
<li>Example 1</li>
<li>Example 2</li>
<li>Example 3</li>
</ul> </td>
    <td><ul>
<li>Example 1</li>
<li>Example 2</li>
<li>Example 3</li>
</ul></td>
    <td><ul>
<li>Example 1</li>
<li>Example 2</li>
<li>Example 3</li>
</ul></td>
  </tr>
  <tr>
    <td>Example 1 </td>
    <td>Example 2</td>
    <td>Example 3</td>
  </tr>
</table>